<!DOCTYPE html>
<head>
	<title>{{ site.name }} - {{ site.description }}</title>
	<meta charset="utf-8">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<meta http-equiv="content-language" content="ru-ru"/>
	<meta name="description" content="{{ site.description }}">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="/css/main.min.css"/>
	<link rel="alternate" type="application/rss+xml" title="{{ site.name }}" href="{{ site.url }}/atom.xml">
</head>

<body>

<header class="headroom">
	<div class="h-wrap">
		<a class="icon logo" href="/" title="На главную"><span class="icon-logo logo-icon"></span></a>
	</div>
</header>

<main>