$colorNavy: #001f3f;
$colorBlue: #0074d9;
$colorAqua: #7fdbff;
$colorTeal: #39cccc;

$colorOlive: #3d9970;
$colorGreen: #2ecc40;
$colorLime: #01ff70;

$colorYellow: #ffdc00;
$colorOrange: #ff851b;
$colorRed: #ff4136;

$colorMaroon: #85144b;
$colorFuchsia: #f012be;
$colorPurple: #b10dc9;

$colorWhite: #fff;
$colorSilver: #ddd;
$colorGray: #aaa;
$colorBlack: #111;

$colorAquaNight: #96dbfd;
$colorSilverNight: #ccc;
$colorGrayNight: #898989;
$colorBlackNight: #393939;