.highlight {
	border: 1px solid #eee;
	border-radius: 3px;
	padding: 10px 25px;
	background-color: #fbfbfb;
	font-size: 80%;
	margin: 60px 40px 40px;
	overflow: scroll;
	color: SlateGrey;
}

.highlight code {
	width: 100%;
}

.highlight code span {
	line-height: 150%;
	font-size: 85%;
}

.highlight code.html::before {
	content: "HTML";
}

.highlight code.css::before {
	content: "CSS";
}

.highlight code.js::before {
	content: "JavaScript";
}

.highlight code.html::before,
.highlight code.css::before,
.highlight code.js::before {
	position: absolute;
	color: #444;
	margin-top: -42px;
	font-family: 'Open Sans', sans-serif;
	background-color: #fbfbfb;
	border: 1px solid #eee;
	padding: 4px 10px;
	border-radius: 3px 3px 0 0;
}