/* Viewport width < 920px */

@media only screen and (max-width: 919px) {

	body {
		font-size: 17px;
	}

	header .h-wrap {
		padding: 40px 30px;
	}

	header .h-wrap .menu-icon {
		margin-top: 2px;
	}

	#prev, #next {
		display: none;
	}

	ul.posts li .p-wrap {
		padding: 30px;
	}

	ul.posts li .p-wrap p {
		display: block;
	}

	ul.posts li .p-wrap:hover {
		padding-left: 40px;
	}

	ul.posts li .p-wrap:hover::after {
		content: none;
		margin: 0;
	}

	.highlight {
		margin: 30px 40px 40px;
	}

	.highlight code.html::before,
	.highlight code.css::before,
	.highlight code.js::before {
		display: none;
	}

}

/* Viewport width < 480px */

@media only screen and (max-width: 479px) {

	body {
		font-size: 15px;
	}

	header .h-wrap {
		padding: 30px 20px;
	}

	ul.posts li .p-wrap {
		padding: 20px;
	}

	ul.posts li .p-wrap:hover {
		background: #67aaf7;
		padding-left: 20px;
	}

	#off-canvas {
		padding: 0 20px;
	}

	#off-canvas.toggled {
		padding: 20px;
	}

	#off-canvas #bio {
		width: 100%;
	}

	#off-canvas #avatar img {
		width: 120px;
	}

	section#single-wrap {
		margin: 0 auto;
	}

	section#single-wrap .single-content {
		padding: 0 20px;
	}

	section#single-wrap h1.page-title {
		padding: 0 20px;
		margin: 0 0 30px;
	}

	section#single-wrap p {
		padding: 0 20px;
	}

	section#single-wrap ul,
	section#single-wrap ol {
		padding: 10px 0 10px 35px;
	}

	section#single-wrap h1,
	section#single-wrap h2,
	section#single-wrap h3,
	section#single-wrap h4,
	section#single-wrap h5,
	section#single-wrap h6 {
		padding: 0 20px;
		margin-top: 30px;
	}

	section#single-wrap blockquote {
		padding: 0 20px;
		border-left: 4px solid #39f;
	}

	.highlight {
		padding: 10px 5px;
		margin: 30px 20px 40px;
	}

}