#single-wrap {
	width: 100%;
	max-width: 780px;
	margin: 20px auto;
	font-family: 'Lora', Georgia, serif;
	background: #fff;
	z-index: 1;
}

#single-wrap .single-content {
	padding: 0 40px;
	overflow: hidden;
}

#single-wrap .feat {
	text-align: center;
	border-bottom: 1px dotted #e0e1e6;
	margin: 0 20px 50px;
}

#single-wrap .feat h5.page-date {
	display: inline-block;
	position: relative;
	top: 11px;
	background: #fff;
	font-size: 85%;
	text-align: center;
	font-weight: normal;
	font-style: italic;
	padding: 0 20px;
}

#share {
	margin: 50px 20px;
}

#single-wrap .feat a.popup {
	display: inline-block;
	position: relative;
	top: 15px;
	background: #fff;
	font-size: 24px;
	text-align: center;
	text-decoration: none;
	padding: 0 25px;
	transition: all .2s ease;
	-webkit-transition: all .2s ease;
}

#single-wrap h1.page-title {
	font-size: 180%;
	line-height: 135%;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	margin: 0 0 60px;
	padding: 0 40px;
}

#single-wrap p {
	padding: 0 40px;
}

#single-wrap ul,
#single-wrap ol {
	padding: 10px 80px;
}

#single-wrap ul li,
#single-wrap ol li {
	margin-bottom: 15px;
}

#single-wrap h1,
#single-wrap h2,
#single-wrap h3,
#single-wrap h4,
#single-wrap h5,
#single-wrap h6 {
	padding: 0 40px;
	margin-top: 40px;
}

#single-wrap h1 {
	font-size: 150%;
}

#single-wrap h2 {
	font-size: 140%;
	font-style: italic;
}

#single-wrap h3 {
	font-size: 130%;
	font-weight: lighter;
}

#single-wrap h4 {
	font-size: 120%;
	font-weight: lighter;
	text-decoration: underline;
	text-align: center;
}

#single-wrap h5 {
	font-size: 110%;
}

#single-wrap h6 {
	font-size: 100%;
}

#single-wrap p {
	line-height: 160%;
}

#single-wrap blockquote {
	font-size: inherit;
	font-family: 'Open Sans', sans-serif;
	color: #333;
	border-left: 6px solid #39f;
	padding: 0 34px;
	margin: 40px 0;
	line-height: 165%;
}

#single-wrap blockquote p {
	padding-left: 0 !important;
	padding-right: 0 !important;
}

#single-wrap img {
	width: 100%;
	height: 100%;
}

#single-wrap img.emoji {
	width: 32px;
	height: 32px;

	display: inline-block;
	margin: 0;
}