ul.posts {
	color: #236cc1;
	overflow: hidden;
}

ul.posts li {
	border-bottom: 1px solid #4492ec;
}

ul.posts li:last-child {
	border-bottom: none;
}

ul.posts li .p-wrap {
	background: #589ff1;
	padding: 25px 40px;
	transition: all .15s ease-in;
}

ul.posts li .p-wrap:hover {
	background: #67aaf7;
	padding-left: 50px;
}

ul.posts li .p-wrap:active {
	background: #569bea;
}

ul.posts li .p-wrap:hover::after {
	content: '\2192';
	margin-left: 10px;
}

ul.posts li .p-wrap p {
	display: inline;
	margin-bottom: 0;
}

ul.posts li span.date {
	color: #2671c8;
	padding-right: 20px;
}

ul.posts li a {
	color: #fff;
	text-decoration: none;
}